__sapper__/
coverage/
dist/
node_modules/
projects/contents/static/
projects/website/static/about/
projects/website/static/blog/
projects/website/static/**/*.br
projects/website/static/**/*.gz
projects/website/static/**/*.webp
